@import url(../../../style/mainstyle.css);

article {
	display: flex;
	flex-wrap: wrap;
}

article div {
	padding: 10px;
	border-radius: var(--def-border-1);

	margin-left: auto; margin-right: auto;
	max-width: 150vh;
	flex-wrap: wrap;
	display: flex;
	text-align: justify;
}

.profile {
	margin: auto;
}

.profile img {
	width: 260px;
	height: 260px;
	border-radius: var(--def-border-1);
	margin: auto;
}

.profile h2 {
	flex-grow: 1;
	padding-left: 10px;
	padding-top: 5px;
	margin: 0;
}

.aboutme #noname {
	display: inline;
	font-family: monospace;
	font-size: 1.35em;
}

.contact {
	display: block;
}

.anline {
	display: inline;
}
