a {
    color: #CAD2C5;
  }
a:visited {
    color: #CAD2C5;
  }
a:hover {
    color: #CAD2C5;
  }
a:active {
    color: #CAD2C5;
  }
#AvM4 {
  border: solid 2px;
  border-color: #38454E;
  border-radius: 5px;
  background-color: #566E78;
  width: 25%;
  height: 25%;
}
#N {
  color: #869b9b
}
html {
  background-color: #B3BAB3;
}
.AvtAndText {
  display:flex;
}
.AvtAndText img {
  margin-right: 10px;
}
h2 {
  font-size: 1.17em;
}
#teste  {
  height:165px;
  width:140px;
  background: url("/images/GBS_1.11.gif");
  margin:auto; /*position the [div] on the center*/
}
.teste:hover {
  cursor:pointer; 
  background:url("/images/GBS_1.11.gif");
}
