:root {
	--color-primar: #38454E;
	--color-second: #566E78;
	--color-tertia: #869b9b;
	--color-quarta: #B3BAB3;
	--color-quinta: #CAD2C5;

	--def-border-1: 10px;
	--def-border-2: 3px;
}

html {
	margin: 15px;
	background-color: var(--color-second);
	font-family: 'Lucida Sans', 'Lucida Sans Unicode', sans-serif;
}

html ::selection {
	background-color: var(--color-second);
}

header {
	text-indent: 15px;
	display: flex;
	justify-content: space-between;
	border-radius: var(--def-border-1) var(--def-border-1) 0 0;
	background-color: var(--color-primar);
	margin-bottom: 0;
	padding: 2px 2px;
}

header img {
	width: 5em;
	height: 5em;
}

article {
	border-radius: 0 0 var(--def-border-1) var(--def-border-1);
	background-color: var(--color-quinta);
	margin-top: 0;
	padding: 15px;
}

ol {
	list-style-type: lower-greek;
}

.trio {
	margin-top: 20px;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}

.trio div {
	background-color: var(--color-quarta);
	border-radius: var(--def-border-1);
	margin-bottom: 15px; margin-left: auto; margin-right: auto;
	width: 60vh;
}

.trio div h2 {
	border-radius: var(--def-border-1) var(--def-border-1) 0 0;
	background-color: var(--color-second);
	text-align: justify;
	padding: 5px;
	margin: 0;
}

.trio div #alert {
	text-align: justify;
	padding: 10px 5px 0 5px;
}

#lema {
	color: var(--color-primar);
}

a {
	display: block;
	text-decoration: none;
	color: var(--color-second);
	transition: 500ms;
}

a:visited {
	display: block;
	text-decoration: none;
	color: var(--color-second);
	transition: 500ms;
}

a:hover {
	color: var(--color-quinta);
	transform: rotateX(720deg);
	transition: 1000ms;
}
