@import url(../../../style/mainstyle.css);

.foreground {
	background-color: var(--color-prima);
	border-radius: var(--def-border-r);
	margin: auto;
	margin-top: 15px;
	max-width: 50%;
	display: flex;
}

.foreground .profile {
	display: flex;
	margin: 15px;
}

.profile img {
	width: 100px;
	margin-right: 15px;
	border-radius: var(--def-border-r);
}

.profile p {
	
}
